:root {
  --color-primary: hsl(120, 30%, 30%);
  --color-secondary: hsl(120, 30%, 40%);

  --color-background: hsl(0, 0%, 95%);
  --color-background-muted: hsl(0, 0%, 90%);
  --color-background-highlight: hsl(0, 0%, 85%);

  --color-text: hsl(0, 0%, 0%);
  --color-text-muted: hsl(0, 0%, 10%);
  --color-text-highlight: hsl(0, 0%, 20%);

  --transition-3s: 0.3s;

  --padding-05: 0.5rem;
  --padding-1: 1rem;
}

* {
  font-family: 'Cabinet Grotesk', sans-serif;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 2rem);
}

p {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

button {
  cursor: pointer;
}

form input,
form textarea {
  cursor: text;
}

.text {
  color: var(--color-text);
}

.text-muted {
  color: var(--color-text-muted);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  gap: clamp(0.3rem, 1.5vw, 0.5rem);
  background-color: var(--color-background);
}

/* HEADER */

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0 var(--padding-1);
  gap: 1rem;
  background-color: var(--color-primary);
}

header img {
  max-height: 4rem;
}

header .navigation {
  display: flex;
  padding: var(--padding-05) 0;
  gap: 0.5rem;
}

header .navigation form {
  display: flex;
  align-items: center;
}

header .navigation form .search {
  display: flex;
  align-items: center;
  width: max-content;
  width: clamp(8rem, 1vw, 12rem);
  padding: 0.3rem var(--padding-05);
  border-radius: 28px;
  gap: 0.3rem;
  background-color: var(--color-background);
  transition: var(--transition-3s);
}

header .navigation form .search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

header .navigation form .search .search-icon {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

header .navigation form .search .search-input {
  flex: 1;
  font-weight: bold;
  min-width: 50px;
  outline: none;
  border: none;
  color: var(--color-text-muted);
  background: transparent;
}

header .navigation form .search .search-input::placeholder,
header .navigation form .search .search-icon {
  color: rgba(0, 0, 0, 0.25);
}

header .navigation button {
  align-items: center;
  width: clamp(1.5rem, 3vw, 3rem);
  max-height: 3rem;
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  gap: 0.5rem;
  color: var(--color-background);
  background-color: transparent;
  transition: var(--transition-3s);
}

header .navigation button:hover {
  display: flex;
  width: 6rem;
  background: var(--color-secondary);
}

header .navigation button i {
  font-size: clamp(1.2rem,  2vw, 1.4rem);
}

header .navigation button p {
  display: none;
  font-size: clamp(0.8rem,  2vw, 1rem);
}

header .navigation button:hover p {
  display: flex;
}

.navigation button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* MAIN */

main {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: clamp(0.3rem, 1.5vw, 0.5rem);
}

/* MAIN NAVIGATION */

main nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-1);
  background-color: var(--color-background-muted);
}

main nav .navigation {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 0.5rem;
  background-color: transparent;
}

main nav .navigation button {
  display: flex;
  min-width: 6rem;
  padding: 0 var(--padding-1);
  border: 0;
  border-radius: 8px;
  color: var(--color-text);
  background-color: transparent;
}

main nav .navigation button:hover {
  background-color: var(--color-background-highlight);
}

main nav .navigation button.active {
  background-color: var(--color-background-highlight);
}

main .navigation button i {
  color: var(--color-text-muted);
  font-size: clamp(1.2rem,  2vw, 1.4rem);
}

main .navigation button p {
  font-size: clamp(0.8rem,  2vw, 1rem);
}


/* MAIN  CONTENT SECTION */

main .page {
  flex: 3;
  display: none;
  flex-direction: column;
  padding: var(--padding-05);
  background-color: var(--color-background-muted);
}

main .active {
  display: flex;
}

main .page header {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-background-muted);
}

main .page header h1 {
  color: var(--color-background);
  text-shadow: 2px 2px 2px black;
}

main .page header p {
  font-style: italic;
  font-weight: bold;
  color: var(--color-background);
  text-shadow: 2px 2px 2px black;
}

main .page article {
  flex: 1 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

/* MAIN INTRO SECTION */

main .page .intro-section {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-height: 400px;
  padding: 1rem;
  margin: 1rem 0.5rem;
  background-color: var(--color-background-highlight);
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform var(--transition-3s);
}

main .page .intro-section:hover {
  transform: scale(1.01);
}

main .page .intro-section h2 {
  color: var(--color-primary);
  font-size: clamp(1.5rem, 3vw, 2rem);
  margin-bottom: 0.5rem;
}

main .page .intro-section p {
  color: var(--color-text-muted);
  max-width: 600px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-bottom: 1rem;
}

main .page .intro-section .user-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

main .page .intro-section .user-buttons button {
  padding: 0.7rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: var(--transition-3s);
}

main .page .intro-section .farmer-button {
  background-color: var(--color-primary);
  color: var(--color-background);
}

main .page .intro-section .buyer-button {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

main .page .intro .user-buttons button:hover {
  opacity: 0.9;
}

/* MAIN FEEDBACK FORM SECTION */

main .page form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  background-color: var(--color-background-highlight);
}

main .page form input,
main .page form textarea,
main .page form button {
  outline: none;
  border: 1px solid grey;
  border-radius: 8px;
  padding: var(--padding-05) var(--padding-1) ;
}

/* MAIN ABOUT SECTION */

main .page .services {
  display: flex;
  justify-content: center;
}

/* MAIN ASIDE */

main aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-1);
  background-color: var(--color-background-muted);
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-1);
  background-color: var(--color-background-muted);
}

footer p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  color: var(--color-text-muted);
}


/* PHONE SCREEN WIDTH 768PX */

@media (max-width: 768px) {

  main {
    flex-direction: column;
  }

  main nav {
    padding: 0 0.3rem;
    justify-content: center;
  }

  main nav .navigation {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0.3rem;
  }

  main nav .navigation button {
    justify-content: center;
  }

  main aside {
    display: none;
  }
}